block content
  nav.navbar
    ul.nav
      li.float-left
        a(href="/")
          img(src="/images/logo.png")
      li.float-left
        a.home.navbar-brand(href='/') Home
    - if (user_id == undefined && !user) {
    div.nav
      span.float-right
        a#login(href="/")='Login'
      span.float-right
        a#register(href="/register")='Register'
    - } else if (user == undefined && !user_id) {
    div.nav
      span.float-right
        a#login(href="/")='Login'
      span.float-right
        a#register(href="/register")='Register'
    - } else {
    div.nav
      span.float-right
        a#logout(href="/logout")= 'Logout'
      span.float-right
        a#stats(href="/profile")= 'Stats'
    div.float-right.profileBadge
      span.email #{user.email}
      br
      span.exp
        - var userLevel = 1
        - if (exp >= 50) {
        -  userLevel = 2
        - }
        - if (exp >= 125) {
        -  userLevel = 3
        - }
        - if (exp >= 310) {
        -  userLevel = 4
        - }
        - if (exp >= 780) {
        -  userLevel = 5
        - }
        - if (exp >= 2000) {
        -  userLevel = 6
        - }
        - if (exp >= 3500) {
        -  userLevel = 7
        - }
        - if (exp >= 6000) {
        -  userLevel = 8
        - }
        - if (exp >= 9500) {
        -  userLevel = 9
        - }
        - if (exp >= 14000) {
        -  userLevel = 10
        - }
        - if (exp >= 20000) {
        -  userLevel = 2
        - }
        span.lvl Level: #{userLevel} || Exp: 
        span#exp #{user.exp}
  - }
