extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/user/profile.css")

  body
    include ../nav.pug
    div.profilecontainer
      div.dynamicProfile
        div.imgContainer
          img.profilePic(src="../../images/spaceinvader_sprite.png" alt="Space Invader Sprite")
        div.emailContainer
          h2 #{user.email}
      div.exp
        - var userLevel = 1
        - if (user.exp >= 50) {
        -  userLevel = 2
        - }
        - if (user.exp >= 125) {
        -  userLevel = 3
        - }
        - if (user.exp >= 310) {
        -  userLevel = 4
        - }
        - if (user.exp >= 780) {
        -  userLevel = 5
        - }
        - if (user.exp >= 2000) {
        -  userLevel = 6
        - }
        - if (user.exp >= 3500) {
        -  userLevel = 7
        - }
        - if (user.exp >= 6000) {
        -  userLevel = 8
        - }
        - if (user.exp >= 9500) {
        -  userLevel = 9
        - }
        - if (user.exp >= 14000) {
        -  userLevel = 10
        - }
        - if (user.exp >= 20000) {
        -  userLevel = 2
        - }
        span.lvl Level: #{userLevel} || Exp: 
        span#exp #{user.exp}
        div.progressBar
          div.progress
    div.onlineStats
      div.onlineStatsTitleCont
        span.onlineStatsTitle Online Stats
      br
      div.importantStats
        p => Most Played Game: Snake
        p => Highest W/L Ratio: Pong
      br
      div.wltitlecont
        span.wltitle SNAKE
      div.wlcont
        - let winlossratio = wCount/lCount
        p Wins: #{wCount}
        p Losses: #{lCount}
        p W/L: #{winlossratio}
      
  script(src="/javascripts/profile-animation.js" type="text/javascript")
          
